header {
  color: $light-primary;
  background: transparentize($dark-primary, 0.6);
  max-width: 100vw;
  max-height: 278px;
  width: 100%;
  border-bottom: 4px solid transparentize($light-tertiary, 0.8);

  .header-wrapper {
    padding: 20px;
    text-align: center;
    position: relative;
    &__nav {
      display: flex;
      width:100%;
      justify-content: space-around;
      align-items: center;
    }
    &__account-area {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  a {
    color: $light-primary;
    text-decoration: none;
  }
}