$dark-primary: #000;
$dark-secondary: #3E3E3D;
$dark-tertiary: #6D7677;
$light-primary: #fff;
$light-secondary: #FFFEE4;
$light-tertiary: #a9a9a9;

$error: #FA412F;
$success: #12EF5B;
$info: #0886F8;
$warning: #F0F116;